

nav img{
    width:30%;
}
.container{
    margin-bottom: 100px;
}

.features img{
    width:20%;
    margin:0 40%;
}
.feature-box{
    border-radius: 10px;
    margin: 10px;
    box-shadow: 10px 10px 10px aqua;
    height:200px;
    
}
#testimonial{
    width:50%;
}
#testimonial img{
    width:20% !important;
    margin:0px 20px;
}
footer{
    background-color: #222222;
    color:#fff;
    padding:50px 0px 10px 0px;
}
footer ul{
    list-style:none;
}
footer small{
    text-align:center;
}